---
export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'fa' } }]
}

import ContentMedia from '@components/ContentMedia.astro'
import DefaultLayout from '@layouts/DefaultLayout.astro'

const { lang } = Astro.params

const allDocs = [
  ...(await Astro.glob('../../../data/messier/fa/*.md')),
  ...(await Astro.glob('../../../data/messier/en/*.md')),
]

const filteredDocs = allDocs.filter((doc) => doc.frontmatter.lang === lang)

const introDoc = filteredDocs.find((doc) => doc.frontmatter.type === 'intro')
const sectionDocs = filteredDocs
  .filter((doc) => doc.frontmatter.type === 'section')
  .sort((a, b) => a.frontmatter.order - b.frontmatter.order)

if (!introDoc) {
  throw new Error('Intro document not found')
}

const { Content: IntroContent, frontmatter: introFront } = await introDoc

const sectionContents = await Promise.all(
  sectionDocs.map(async (doc) => {
    const { Content, frontmatter } = await doc
    return { Content, frontmatter }
  }),
)
---

<DefaultLayout title={introFront.title}>
  <section class="mt-4 mb-[-100px]">
    <div class="container">
      <div class="flex items-center gap-4">
        <h2 class="text-6xl">{introFront.title}</h2>
        <img class="h-10 w-10" src="/broccoli/messier/messier.png" />
      </div>
      <article class="prose mt-8">
        <IntroContent />
      </article>
    </div>
  </section>

  {
    sectionContents.map(({ Content, frontmatter }) => (
      <ContentMedia imgSrc={frontmatter.image}>
        <h2>{frontmatter.title}</h2>
        <article class="prose text-2xl">
          <Content />
        </article>
      </ContentMedia>
    ))
  }
</DefaultLayout>
