---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import {  Avatar, AvatarGroup } from 'accessible-astro-components'
import { StarsBackground } from "@components/StartsBackground";
import Faq from '@components/Faq.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <StarsBackground client:load />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:accessibility" title="Accessible by default">
          Keyboard navigation, focus indicators, ARIA labels, semantic HTML, and more. This theme is designed to be
          inclusive.
        </Feature>
        <Feature icon="lucide:puzzle" title="A11Y components">
          25+ components and counting, all tried and tested for the most optimal accessible experience for your
          visitors.
        </Feature>
        <Feature icon="lucide:moon" title="Dark mode">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="lucide:paintbrush" title="Tailwind 4.0">
          Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
        <Feature icon="lucide:sparkles" title="Prettier">
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="lucide:code" title="ESLint">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="lucide:bookmark" title="Blog & portfolio">
          This theme comes with a fully integrated blog and portfolio, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="lucide:file-text" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="lucide:blocks" title="Design system">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <ExternalLink href="https://github.com/broccoliiiiiiiiiiiiii"
        >separate package</ExternalLink
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.2 AA compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <!-- <Faq /> -->

   <section class="my-64">
    <div class="space-content container">
      <h2 class="text-6xl">Our community</h2>
      <p class="text-2xl">
        We're a community of developers who are passionate about making the web more accessible. We're always looking
        for new ways to improve the accessibility of the web.
      </p>
      <AvatarGroup display="grid" gridItemsSize="300px" gridGap="2rem">
        <Avatar initials="K" title="Karim" subtitle="Manager" />
        <Avatar initials="E" title="Esirango" subtitle="Frontend Developer" />
        <Avatar initials="A" title="Ahmadreza" subtitle="Fullstack Developer" />
      </AvatarGroup>
    </div>
  </section>

  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Impact in numbers</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="900+" title="Stars" sub="On GitHub" />
        <Counter count="25+" title="Accessible" sub="Components" />
        <Counter count="400+" title="Commits" sub="Merged" />
        <Counter count="48+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
