---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { getLocaleFromPath } from '../utils/locale'

const { currentLocale, newLocale, newPath } = getLocaleFromPath(Astro.url.pathname)

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header class="z-10">
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href={`/broccoli/${currentLocale}`}>Home</a>
    </li>

    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Projects
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href={`/broccoli/${currentLocale}/messier`}>Messier</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://github.com/broccoliiiiiiiiiiiiii" target="_blank" rel="noopener noreferrer">
        <Icon name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </a>
    </li>
    <li class="menu-item">
      <a href={`${newPath}`} hreflang={newLocale}>
        {currentLocale === 'fa' ? 'English' : 'فارسی'}
      </a>
    </li>
    <DarkMode class="invisible" />
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
